<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="/img/weather.png">
        <title>About</title>
        <body>
            <link rel="stylesheet" href="/css/styles.css">

         <div class="main-content">
       {{>header}} 
      <img class="portrait" src="/img/FelixCuriel.jpeg">
       
        </div>
        {{>header1}}
        </body>

    </head>
</html>
