<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="/img/weather.png">
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
  
        <body>
                 
                <div class="main-content">
   {{>header}}

            <p>{{Help}}</p>
     
            </div>
    {{>header1}} 
        </body>

    </head>
</html>
